<a href="https://colab.research.google.com/github/cardoso20191/ProgramaDesenvolve_Paythonhon/blob/main/Aula01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Olá Mundo
É uma boa pratica documentar para que fique claro o que está sendo feito na linha de código sendo criada...

In [ ]:
print("Olá Mundo")

Olá Mundo

#Exemplo de sintaxe simples

Vamos usar algumas funções e bibliotecas para entender a simplicidade do Python

In [ ]:
numeros = [1,2,3,4]
print(sum(numeros))

10

# Exemplos de Bibliotecas

Exemplo de panda e numpy

In [ ]:
import pandas as pd

df = pd.DataFrame({"Produto": ["A", "B", "C"], "Vendas": [10, 20, 15]})
print(df)

  Produto  Vendas
0       A      10
1       B      20
2       C      15

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr * 10)

[10 20 30 40 50]

# Criando uma função

In [ ]:
def saudacao(nome):
  print("Ola", nome)

saudacao("joão")

Ola joão

In [ ]:
idade = 15
if idade > 18:
  print("É maior de idade")
else:
  print("Não é maior de idade")

Não é maior de idade

In [ ]:
nome  = "Eduardo"
idade = 36
print('Olá', 'meu', 'nome', nome, 'você tem', idade, 'anos')

Olá meu nome Eduardo você tem 36 anos